body {
  width: 100%;
  min-height: 100vh;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-right: 0 !important;
}

.login-box {
  width: 90%;
  max-width: 450px;
  background: #ffffff;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-right: auto;
  margin-left: auto;
}

.login-box h3 {
  text-align: center;
  font-size: 26px;
  margin-bottom: 5px;
  color: #222;
}

label {
  font-size: 15px;
  font-weight: 600;
  color: #444;
}

.login-input {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 15px;
  transition: 0.2s;
  padding: 15px 0 15px 10px;
}

.login-input:focus {
  border-color: #4caf50;
}

.senha-wrapper {
  position: relative;
  width: 100%;
}

.btn-mostrar {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #4caf50;
}

.btn-entrar {
  width: 100%;
  background: #4caf50;
  color: white;
  font-size: 17px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  transition: 0.2s;
}

.btn-entrar:hover {
  background: #47a44b;
}

.btn-secundario,
.voltar-btn {
  width: 90%;
  max-width: 450px;
  background: #222;
  color: white;
  font-size: 17px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  margin: 15px auto 0 auto;
}

.btn-secundario:hover,
.voltar-btn:hover {
  background: #000;
}

.btns{
    align-items: center;
    text-align: center;
    flex-direction: column;
    display: flex;
}